
.s {
	width: 40px;
	height: 7px;
}
.rank-a .s1 {
	background: rgb(255, 0, 0);
}
.rank-b .s1 {
	background: rgb(255, 0, 0);
}
.rank-c .s1 {
	background: rgb(255, 0, 0);
}
.rank-b .s2 {
	background: rgb(255, 147, 38);
}
.rank-c .s2 {
	background: rgb(255, 147, 38);
}
.rank-c .s3 {
	background: rgb(145, 196, 26);
}